# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Outputs / logs
*.log
*.csv
results.txt

# Pyright
pyrightconfig.json

# Pycache anywhere
core/__pycache__/
**/__pycache__/